    <div class="container">  
      <div class="row" id="pies">
        <div class="col-sm-12">
          <div class="well">
            <div id="pies_div"></div>
          </div>
        </div>
      </div>
      <div class="row" id="maps">
        <div class="col-sm-12">
          <div class="well">
            <div id="maps_div"></div>
          </div>
        </div>
      </div>
      <div class="row" id="columns">
        <div class="col-sm-12">
          <div class="well">
            <div id="columns_div"></div> 
          </div>
        </div>
      </div>
      <div class="row" id="histograms">
        <div class="col-sm-12">
          <div class="well">
            <div id="histograms_div"></div> 
          </div>
        </div>
      </div>
    </div>