<!DOCTYPE html>
<html>
<head>
  <title>Mondial</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script type="text/javascript" src="https://www.google.com/jsapi"></script>
  <script type="text/javascript">
  $('ul.nav').find('a').click(function() {
    var $href = $(this).attr('href');
    var $anchor = $('#' + $href).offset();
    $('body').animate({ scrollTop: $anchor.top }, 'slow');
    return false;
  });
  </script>
    <style>
      body {
        min-height: 2000px;
        padding-top: 70px;
      }
    </style>
</head>
<body>
    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <span class="navbar-brand">Mondial</span>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#pies">Pies</a></li>
            <li><a href="#maps">Maps</a></li>
            <li><a href="#columns">Columns</a></li>
            <li><a href="#histograms">Histograms</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
    <%= yield %>
</body>
</html>
